<a href="https://colab.research.google.com/github/nram-dev/cse6040-intro-to-computing-for-data-analysis/blob/master/functional_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stuff from Functional Python course on LinkedIn Learning by Shaun Wassel
Ref:
https://www.linkedin.com/learning/functional-programming-with-python/installing-python?autoSkip=true&autoplay=true&resume=false&u=2163426

In [ ]:
# function as variable
def say_hello(name):
  print ("Hello "+ name)

# call it classic way
say_hello('Classic')

# using function as variable
say_hello_var = say_hello
say_hello_var('functional')

Hello Classic
Hello functional

In [ ]:
# A/B testing
import random
def my_func_a():
  return ('A')

def my_func_b():
  return ('B')

for i in range(0,10) :
  r = random.randint(1,10)
  ab_test = my_func_a if r < 5 else my_func_b
  print(f'{i}) {r:2} : {ab_test()}')

0) 10 : B
1)  1 : A
2)  2 : A
3) 10 : B
4)  5 : B
5)  2 : A
6)  8 : B
7)  9 : B
8)  5 : B
9)  5 : B

In [ ]:
# apply transformations
import math
def op1(n):
  return n+10

def op2(n):
  return n*10

def op3(n):
  return n*2

# note math.sqrt at the end
ops_list = [ op1, op2, op3, math.sqrt ]

n = 16
print (f'n = {n}')
for op in ops_list:
  n = op(n)
print (n)
print (f'Result: {n}')

n = 16
m = [ op(n) for op in ops_list ]
print (f'Ops output: {m}')

n = 16
22.80350850198276
Result: 22.80350850198276
Ops output: [26, 160, 32, 4.0]

In [ ]:
# function as arg
def min_ab(a, b):
  return min(a,b)

def max_ab(a, b):
  return max(a,b)

def min_or_max_ab(func, a, b):
  return func(a,b)

a=10
b=20
for n in range(1,10):
  r = random.random()
  min_or_max = min_ab if r < 0.5 else max_ab
  result = min_or_max_ab(min_or_max, a, b)
  print (f'min_or_max({a}, {b}) = {result} (r = {r})')

min_or_max(10, 20) = 10 (r = 0.018058939351021763)
min_or_max(10, 20) = 10 (r = 0.3124563358524527)
min_or_max(10, 20) = 20 (r = 0.7476315917608153)
min_or_max(10, 20) = 20 (r = 0.5990554492956094)
min_or_max(10, 20) = 20 (r = 0.8348022806521455)
min_or_max(10, 20) = 20 (r = 0.667519310382702)
min_or_max(10, 20) = 10 (r = 0.27907150040211504)
min_or_max(10, 20) = 10 (r = 0.2315003554727617)
min_or_max(10, 20) = 10 (r = 0.03852333107898842)

In [ ]:
# return function & closure

def get_nx (n):
  my_offset = 2
  def nx(x):
    nonlocal my_offset
    my_offset += 1
    return n*x + my_offset # closuer example - can access my_offset
  return nx

a = 10
for n in range(1, 5):
  print (f'get_nx({n}) = {get_nx(n)(a)}')

get_nx(1) = 13
get_nx(2) = 23
get_nx(3) = 33
get_nx(4) = 43

In [ ]:
# higher order function 

def div_ab(a, b):
  return a / b

def check_args(func):
  def safe_fn (*args):
    if args[1] == 0:
      print ('Cannot divide by Zero')
      return 
    return func(*args)
  return safe_fn

safe_div_ab = check_args(div_ab)

a = 10
for b in range(0, 3):
  print (f'{a} / {b} = {safe_div_ab(a, b)}')

Cannot divide by Zero
10 / 0 = None
10 / 1 = 10.0
10 / 2 = 5.0

In [6]:
# mapping
dow_names = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

def get_dow_name(n):
  return dow_names[n]

def check_args(func):
  def safe_fn (*args):
    if args[0] < 0 or args[0] > 6:
      print (f'** Invalid week index [{n}] ***')
      return "Doomsday"
    return func(*args)
  return safe_fn

safe_get_dow_name = check_args(get_dow_name)

day_ids = range(0,10)
dow_list = list(map(safe_get_dow_name, day_ids))
print (dow_list)

** Invalid week index [9] ***
** Invalid week index [9] ***
** Invalid week index [9] ***
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Doomsday', 'Doomsday', 'Doomsday']

In [11]:
# filtering
import numpy as np 

threshold = 0.5
samples = np.random.random_sample(size = 10)

def checker(n):
  return n > threshold

qualified_samples = list(filter(checker, samples))


print ('Samples:', samples)
print ('Threshold: ', threshold)
print ('Qualified Samples: ', qualified_samples)

Samples: [0.06144132 0.94573518 0.60519003 0.63879902 0.15973106 0.50212989
 0.82722847 0.59937194 0.88612667 0.08386325]
Threshold:  0.5
Qualified Samples:  [0.9457351812924644, 0.6051900256397084, 0.6387990162959671, 0.5021298871280439, 0.8272284699454303, 0.5993719367621815, 0.886126674595226]

In [14]:
# lambda

my_lambda1 = lambda a, b : a + 2*b

print (my_lambda1(1,2))

import numpy as np 

# lambda as function arg
threshold = 0.5
samples = np.random.random_sample(size = 10)
qualified_samples = list(filter(lambda x: x > threshold, samples))
print ('Samples:', samples)
print ('Threshold: ', threshold)
print ('Qualified Samples: ', qualified_samples)

5
Samples: [0.71206221 0.23692166 0.9926716  0.01265159 0.69975568 0.22353633
 0.83091484 0.63407842 0.77394588 0.01052006]
Threshold:  0.5
Qualified Samples:  [0.7120622072253661, 0.9926716029747882, 0.6997556823772519, 0.8309148410282992, 0.6340784213693863, 0.7739458772041906]

In [16]:
# list comprehension

my_list = range(1,11)

my_doubles = [ x * 2 for x in my_list ]
my_evens = [ x for x in my_list if x % 2 == 0 ]
my_odds_doubled = [ x * 2 for x in my_list if x % 2 ]

print ('my_list: ', my_list)
print ('my_doubles: ', my_doubles)
print ('my_evens: ', my_evens)
print ('odds_doubled: ', my_odds_doubled)

my_list:  range(1, 11)
my_doubles:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
my_evens:  [2, 4, 6, 8, 10]
odds_doubled:  [2, 6, 10, 14, 18]

In [20]:
# map comprehension

dow_names = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

# lambda fn
get_dow_name = lambda n: dow_names[n]
check_day_id = lambda x : True if x >= 0 and x < 7 else False

day_ids = range(0,10)
dow_map = { x:get_dow_name(x) for x in day_ids if check_day_id(x)}
print (dow_map)

{0: 'Sunday', 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday'}

In [21]:
# Reduce

from functools import reduce
# acc is accumulator, the prev. values so far
def sum_it (acc, n):
  return acc + n

# 3rd arg is starting value for accumulator
my_list = range(1,11)
sum = reduce (sum_it, my_list, 0)

print ('my_list :', my_list)
print ('sum with reduce:', sum)

my_list : range(1, 11)
sum with reduce: 55

In [55]:
# the challenge project
# compare avg. dev vs non-developer salaries with list comprehension
import random 

# prepare data
names = ['john doe', 'jane doe']
salaries = [100000, 120000, 200000, 80000, 150000, 90000, 220000 ]
jobs = ['developer', 'executive', 'manager', 'ceo']
rec = lambda: { 'name': random.choice(names), 'job-title' : random.choice(jobs), 'salary': random.choice(salaries)}
data = [ rec() for x in range(1,10) ]
print ('Data: ', data)

# seperate dev non-dev salaries
dev_salaries = [ d['salary'] for d in data if d['job-title'] == 'developer' ]
non_dev_salaries = [ d['salary'] for d in data if d['job-title'] != 'developer' ]
print ('developer salaries          : ', dev_salaries)
print ('non deveoper salaries       : ', non_dev_salaries)

# sum and find avg. protect against div/zero
sum_it = lambda acc, x: acc + x
avg_dev_salary = reduce(sum_it, dev_salaries, 0) / len(dev_salaries) if len(dev_salaries) > 0 else 0
avg_non_dev_salary = reduce(sum_it, non_dev_salaries, 0) / len(non_dev_salaries) if len(non_dev_salaries) > 0 else 0

print ('average developer salary    : ', avg_dev_salary)
print ('average non-developer salary: ', avg_non_dev_salary)

Data:  [{'name': 'jane doe', 'job-title': 'executive', 'salary': 200000}, {'name': 'john doe', 'job-title': 'manager', 'salary': 80000}, {'name': 'john doe', 'job-title': 'manager', 'salary': 90000}, {'name': 'john doe', 'job-title': 'ceo', 'salary': 90000}, {'name': 'john doe', 'job-title': 'manager', 'salary': 120000}, {'name': 'john doe', 'job-title': 'ceo', 'salary': 90000}, {'name': 'jane doe', 'job-title': 'manager', 'salary': 150000}, {'name': 'jane doe', 'job-title': 'manager', 'salary': 220000}, {'name': 'jane doe', 'job-title': 'executive', 'salary': 80000}]
developer salaries          :  []
non deveoper salaries       :  [200000, 80000, 90000, 90000, 120000, 90000, 150000, 220000, 80000]
average developer salary    :  0
average non-developer salary:  124444.44444444444